{% extends 'email-layout.html.twig' %}

{% block content %}
    <div class="heading px-30" style="text-align: center; padding-top: 30px;">
        <h1>Reset Your Password</h1>
    </div>
    <div class="content px-30">
        <p>Dear {{ name }},</p>
        <p>We received a request to reset your password. If you didn't make the request, just ignore this email.</p>
        <p>We have generate One Time password reset url and will expire on {{ expiration_date| date('F jS \\a\\t g:ia') }}.</p>
        <p>Note: please don't share this url to anyone</p>
        <p>To reset your password, click the button below.</p>
        <a href="{{url}}" class="button">Reset Password</a>
        <p>If you're having trouble clicking the button, copy and paste the URL below into your web browser.</p>
        <p><a href="{{ url }}">{{url}}</a></p>
    </div>
{% endblock %}